
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.card {
    background-image: linear-gradient(to top, #a8edea 0%, #fed6e3 100%);
    box-shadow: 0 0 8px 2px #888;
    border-radius: 10px;
}
.list {
    box-shadow: 0 0 8px 2px #888;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}
 .placeholder {
   position: absolute;
   margin-top: calc(100vh / 2);
   margin-left: calc((100vw / 2) - 3rem);
 }

 .badge {
    box-shadow: 0 0 8px 2px #888;
 }

.rotate-center, .placeholder {
	-webkit-animation: rotate-center 1.2s ease-in-out infinite both;
	        animation: rotate-center 1.2s ease-in-out infinite both;
}

 @-webkit-keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  @keyframes rotate-center {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
    }
  }
  